

.category-button {
    background-color: #fff;
    color: #0E2956;
    border-radius: 3rem;
    padding: .3rem 3rem;
    margin: 1rem;
    border: transparent;
    font-weight: bolder;
    font-size: 1.1rem;
    width: 70%;
}