:root {
    --tip-color : #0bfc03;
}

#questions-title {
    margin: .5rem 1rem;
}

#tip-text {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--tip-color);
    margin: 0 1rem;
}

#tip {
    background: var(--tip-color);
}